<%# プロフィール投稿機能 部分テンプレートで表示 %>
<div class="main">
  <div class="inner">
    <div class="form__wrapper">
     <%= render partial: "form", locals: { introduction: @introduction }%>    
    </div>
  </div>
</div>
<%# /プロフィール投稿機能 部分テンプレートで表示 %>