
<main class="main">
    <div class="card__wrapper">
    <% @introductions.each do |introduction| %>
      <%= render partial: 'introduction', locals: { introduction: introduction } %>
      <% end %>
    </div>
  </div>
</main>
<div class="turn_back">
<%= link_to "トップページへ戻る", root_path, class: :turn_back %>