<%# 検索ページ表示 %>
  <main class="main">
 <div class="inner">
    <div class="card__wrapper">
     <%= render partial: 'introduction', collection: @introductions %>
    </div>
 </div>
</main>

<div class="turn_back">
 <%= link_to "トップページへ戻る", root_path, class: :turn_back %>
</div>
<%# /検索ページ表示 %>