/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {
  background-color:#EEEEEE;
  padding: 25px 0;
  border: 1px black solid;  
}

.inner {
  width: 1024px;
  margin: 0 auto;
}

.nav {
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.logo {
  width: 200px;
}

.nave__center {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.nav__btn:hover{
  color: #fff;
  background: #FF3300;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.nav__logout:hover{
  opacity: 0.5;
}

/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.form__text {
  width: 90%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  background: #CCCCCC;
  border: 1px black solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* メイン */

.top_image {
text-align: center;
position: relative;
}

.main_image{
  width: 100%;
  height: 40%;
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

.service-title{
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-50%,-50%);
  margin:0;
  font-weight: bold;
  padding:0;
  color: #fff;
  font-size: 35px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.service-explain{
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(-50%,-50%);
  margin:0;
  font-weight: bold;
  padding:0;
  color: #fff;
  font-size: 35px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.service_features{
font-size: 30px;
border-top: solid 3px#FF3333;
text-align: center;
font-weight: bold;
padding: 10px;
font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.service{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.servise_image_one{
  border-radius: 50%; 
  width: 200px;
  height: 200px;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.servise_image_one:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.servise_image_two{
  border-radius: 50%; 
  width: 200px;
  height: 200px;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.servise_image_two:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.servise_image_three{
  border-radius: 50%; 
  width: 200px;
  height: 200px;
  object-fit: cover;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.servise_image_three:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.service_features_one{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  }

  .under {
    text-decoration: underline;
  }

  .service_comment_one {
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    padding-top: 10px;
  }

.service_comment {
  font-size: 15px;
  color: #3b4043;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.performers_view{
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.performers_image{
  display: flex;
  justify-content: space-around;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.performers_image :hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.profile_list{
font-size: 30px;
text-align: center;
font-weight: bold;
padding-top: 10px;
margin-bottom: 15px;
font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.greeting{
  margin-top: 20px;
}

.greeting__link{
  text-decoration: underline;
}

.page-heading {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 28px;
  text-align: center;
  text-decoration:underline;
  text-decoration-color:#FF0000;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}

.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}

.card__img {
  margin-bottom: 16px;
  width: 40vh;
  height: 30vh;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  padding: 4px;
  border: 6px solid black;
  background-color: #FF0000;
  }

  .card__img:hover {
    opacity: .5;
  }

.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  text-align: center; 
}

.card__title:hover {
  color: #FF3333;
}

.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
  padding-top: 10px;
}

.card__body {
  display: inline-block;
}

.performer skill {
  text-align: center;
}

/* 詳細ページ */
.introduction__wrapper{
  min-height: calc(100vh - 161px);
}

.introduction__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration:underline;
  text-decoration-color:#FF0000;
}

.introduction__user{
  display: block;
  font-size: 16px;
  color: #FF3333;
  text-align: center;
  text-decoration: underline;
}

.introduction__image{
  width: 40%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 4px;
  border: 6px solid black;
  background-color: #FF0000;
}

.introduction__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
}

.detail__title{
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #FFF;
  background: #888888;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.detail__message{
  text-decoration: underline;
}

.introduction__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
  
}

.introduction__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #000;
  text-decoration: none;
  user-select: none;
  border: 1px #000 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}

.introduction__btn:hover{
  color: #fff;
  background: #FF3300;
}

.introduction__comments{
  background-color: #EEEEEE;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.hidden_box {
  margin: 2em 0;
  padding: 0;
}

.hidden_box label {
  padding: 10px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.hidden_box label:hover {
  color: #fff;
  background: #FF3300;
}

.hidden_box input {
  display: none;
}

.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
  text-align: center;
  text-decoration: underline;
  color: red;
}

.hidden_box input:checked ~ .hidden_show {
  padding: 25px 0;
  height: auto;
  opacity: 1;
}


/* ユーザーページ */
.user__wrapper{
  min-height: calc(100vh - 161px);
}

.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.table__col1{
  text-align: center;
  font-weight: bold;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;
  width: 30%;
  padding: 8px;
}

.table__col2{
  text-align: center;
  border: 1px solid #f5f5f5;
  border-collapse: collapse;
  width: 70%;
  padding: 16px 8px;
}

.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* 検索ページ */

.search_title {
  font-size: 20px;
  padding: 10px;
}

.turn_back {
  font-size: 20px;
  padding-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', YuGothic, 'Yu Gothic Medium', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-weight: bold;
  text-decoration : underline;
}

/* 新規 ログイン プロフィール投稿 */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.box {
  width: 350px;
  height: 450px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box_one {
  width: 350px;
  height: 800px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}

.box_two {
  width: 350px;
  height: 550px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
  
}

.box-inner {
  padding: 20px 26px;
}

h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.box-email label, .box-password label, .box-password_one label, .field {
  font-weight: 700;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"],.box-password_one input[type="password"]{
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.column-left {
  float: left;
}

.column-right {
  float: right;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.legal-text {
  margin-top: 15px;
  font-size: 10px;
  text-align: center;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}

/* フッター */

.footer {
  background-color: #EEEEEE;
  padding: 20px 0;
  bottom: 0; 
  width: 100%;
}
.copyright {
  text-align: center;
  color: black;
  font-size: 10px;
}

/* エラーメッセージ */
.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 10px;
  list-style: circle;
  color: rgb(182, 48, 0);
}

.login-flash-message {
  font-size: 10px;
  list-style: circle;
  color: rgb(182, 48, 0);
}


/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .introduction_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
    text-align: center;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}